{
  "printWidth": 80,
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.{css,json,jsonc,prettierrc}",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
