@property --unrounding {
  syntax: 'off | on';
  inherits: false;
  initial-value: on;
}

@container body style(--unrounding: on) {
  *:not(.wrapper__44b0c, .avatar_c19a55, .avatar__75742, .container__1ce5d),
  *::before,
  *:not(.wrapper__44b0c, .container__1ce5d)::after {
    border-radius: 0 !important;
  }

  .wrapper__44b0c,
  .container__1ce5d {
    --online-2: #43a25a;
    --dnd-2: #d83a41;
    --idle-2: #ca9654;
    --offline-2: #82838b;
    --streaming-2: #9147ff;
  }

  [style*='--shltr-sw-col: #4e5058'] {
    background: var(--bg-2) !important;
  }

  ._slider_a9gzg_1 > rect[fill='white'] {
    color: var(--text-1) !important;
    fill: currentcolor !important;
  }

  ._slider_a9gzg_1 rect {
    rx: 0 !important;
  }

  .wrapper__44b0c:has(rect[fill='#45a366'])::after,
  .container__1ce5d:has(
      .status_a423bd[style='background-color: rgb(67, 162, 90);']
    )::after {
    background: var(--online-2) !important;
  }

  .wrapper__44b0c:has(rect[fill='#da3e44'])::after {
    background: var(--dnd-2) !important;
  }

  .wrapper__44b0c:has(rect[fill='#ffc04e'])::after {
    background: var(--idle-2) !important;
  }

  .wrapper__44b0c:has(rect[fill='#84858d'])::after {
    background: var(--offline-2) !important;
  }

  .wrapper__44b0c:has(rect[fill='#9147ff'])::after {
    background: var(--streaming-2);
  }

  .lowerBadge_cc5dd2 {
    border: 2px solid var(--background-base-lower);
    bottom: -4px;
    right: -4px;
  }

  .upperBadge_cc5dd2 {
    border: 2px solid var(--background-base-lower);
    top: -4px;
    right: -4px;
  }

  .folderGroup__48112.isExpanded__48112 > .stack_dbd263 {
    overflow: visible !important;
  }

  .slider__3f21e > rect[rx='10'] {
    rx: 0 !important;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
  }

  :is(.vc-switch-slider, .thumb_a28278) > rect {
    rx: 0 !important;
  }
}
